.container {
  min-width: 1440px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 890px;
  height: 80px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.header__menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px; /* border-radius를 더 둥글게 조정 */
  background-color: #f0f0f0; /* 배경색 추가 */
  padding: 10px; /* 내부 여백 추가 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.page {
  display: flex;
  flex-direction: column;
}

.page-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38.19px;
  padding: 64px 0;
  text-align: center;
}

.fail-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 38.19px;
  padding: 10px 0;
  color: red;
  text-align: center;
}

.ul-user{
  font-weight: 500;
  font-size: 32px;
  line-height: 38.19px;
  padding: 64px;
  text-align: center;
}

.btn {
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.btn.hidden {
  display: none;
}

.btn_ghost {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  background: transparent;
  color: #14212b;
}

.btn_contained {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  background: #4362d0;
  color: #ffffff;
}

.btn_userlist{
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  background: green;
  color: #ffffff;
}

.btn_size_s {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 14px;
}

.btn_size_m {
  padding: 16px;
  font-size: 16px;
  line-height: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textfield {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #d2dae0;
}

.textfield_size_s {
  gap: 4px;
  padding: 8px 16px;
  width: 320px;
}

.textfield_size_m {
  gap: 4px;
  padding: 8px 16px;
  width: 680px;
  height: 320px;
}

.title_textfield {
  height: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #4b5966;
}

.input_textfield {
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  border-width: 0;
  outline: none;
  color: #4b5966;
  resize: none;
}

.input_textfield::placeholder {
  color: #879298;
}

.textfield__btn {
  margin-top: 32px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  background: #4362d0;
  color: #ffffff;
  cursor: hover;
}
